.containerTextQuoteItem {
  width: 50%;
  height: auto;
  border-left: 8px solid #F7DF94;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-top: 140px;
}

.textQuoteItem {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  padding-left: 99px;
}

@media only screen and (max-width: 845px) {
  .textQuoteItem {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {

  .containerTextQuoteItem {
    width: 80%;
    margin-left: 10%;
  }

  .textQuoteItem {
    font-size: 20px;
    padding-left: 20px;
  }
}