.containerQuoteMain {
  width: 60%;
  height: 100%;
  max-height: auto;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.containerTextQuoteRandomMain {
  width: 100%;
  /* background-color: aqua; */
  height: auto;
  max-height: auto;
  border-left: 8px solid #F7DF94;
}

.textQuoteRandomMain {
  padding-left: 99px;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 36px;
}


@media only screen and (max-width: 845px) {
  .textQuoteRandomMain {
    font-size: 20px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .textQuoteRandomMain {
    font-size: 20px;
    padding-left: 20px;
  }
}